---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import json from '../../public/portfolio.json';
---

<Layout title="Welcome to Astro.">
    <!-- quiero que me centre el titulo en el centro -->
    <div class="flex justify-center p-40">
        <h1 class="text-[6rem]">Portfolio</h1>
    </div>
	<div class="cards grid grid-cols-4">
        {json.map((project) => (
            <Card              
              title={project.title}
              background={project.background}
              colSpan={project.colSpan || "1"}
              rowSpan={project.rowSpan || "1"}
            />
          ))}        
    </div>
</Layout>

