---
interface Props {
	title: string;
	description?: string;	
	background: string;
	colSpan?: string;
	rowSpan?: string;
}
const { title, background, colSpan, rowSpan, description } = Astro.props;
---

<div class:list={['card', { [`col-span-${colSpan}`]: colSpan }, {[`row-span-${rowSpan}`]: rowSpan}]} style={{ "background-image": "url("+background+")" }}>
	<h1>{ title }</h1>
	<p>{description}</p>
</div>

<style>
	.card {
		width: 100%;
		min-height: 400px;
		background-size: cover;		
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: end;
		color: white;
		text-shadow: 0 0 10px black;
		overflow: hidden;
		cursor: pointer;
		transition: all 0.3s;
	}
	.card:hover h1 {
		transform: translate(0, 0);
	}
	.card:hover{
		transform: scale(1.01);
		box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
	}
	.card h1 {
		width: 100%;
		text-align: center;
		font-size: 2em;
		padding: 10px;		
		transition: transform 0.3s;
		transform: translate(0, 100%);
		background: linear-gradient(0deg,black, transparent);
	}
</style>
