---
interface Props {
	title: string;
	description?: string;
	background: string;
	song?: string;
}
const { title, background, song } = Astro.props;
---

<div class:list={["card"]}>
	<input type="hidden" value={song} />
	<img class="img" loading="lazy" src={background} alt="" />
	<div class="overlay">
		<h1>{title}</h1>
	</div>
	<span class="w-full" id="modal"></span>
</div>
<script>
	function clearIframes() {
		document.querySelectorAll("iframe").forEach((iframe) => {
			iframe.remove();
		});
	}
	document.querySelectorAll(".card").forEach((card) => {
		card.addEventListener("click", () => {
			clearIframes();
			const song = card.querySelector("input").value;
			const modal = card.querySelector("#modal");
			console.log(song);
			console.log(modal);
			modal.innerHTML = `
			<iframe 
				style="border-radius:12px;" 
				class="iframe"
				src='https://open.spotify.com/embed/${song}?utm_source=generator&theme=0'				
				allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"				
				loading="lazy"
			>
			</iframe>`;
		});
	});
</script>
<style>
	.card {
		min-width: 50%;
		min-height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: end;
		color: white;
		text-shadow: 0 0 10px black;
		overflow: hidden;
		transition: all 0.3s;
		z-index: 99;
		cursor: pointer;
		position: relative;
	}

	.card .overlay {
		width: 100%;
		text-align: center;
	}

	.card .overlay h1 {
		font-size: 3rem;
		margin: 0;
	}

	.img {
		width: 100%;
		height: 100%;
		/*object-fit: cover;*/
		position: relative;
		transition: all 0.3s;
	}

	#modal {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.loader {
		border: 16px solid #f3f3f3;
		border-radius: 50%;
		border-top: 16px solid #3498db;
		width: 120px;
		height: 120px;
		-webkit-animation: spin 2s linear infinite; /* Safari */
		animation: spin 2s linear infinite;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
</style>
