---
const { title } = Astro.props;
---

<div class="flex justify-center p-40">
    <h1 class="text-[6rem]">{title}</h1>
</div>

<style>
    @media (max-width: 600px) {
        h1 {
            font-size: 3rem; /* Ajusta este valor según sea necesario */
        }
    }
</style>
